extends ../_component/layout/template.pug

block cool-config
  -
    var myTitle = "HackerInside";
    var myDescription = "HackerInside description";
    var landingPage = '';
    var activeLink = '';

block awesome
  h1 salutt