.header
  .text
    //- img(src="logo.png")
    a(href="/arhive") Arhive
    a(href="https://www.youtube.com/channel/UCkHJ4XXP1fOHgRX0Zbn80yA?view_as=subscriber", target="_blank") YouTube
    a(href="/breakdown") BreakDown
    .arrow
      #chevron-arrow-left