doctype html
html
  head
    title HackerInside
    meta(name="description", content="HackerInside")
    link(rel="stylesheet", href="style.css")
  body
    include ../header/header
  block awesome-content
    section#one
      include ../section/section