doctype html
html
  head
    title HackerInside
    meta(name="description", content="HackerInside")
    link(rel="stylesheet", href="style.css")
  body
    .header
      .text
        //- img(src="logo.png")
        a(href="/arhive") Arhive
        a(href="https://www.youtube.com/channel/UCkHJ4XXP1fOHgRX0Zbn80yA?view_as=subscriber", target="_blank") YouTube
        a(href="/breakdown") BreakDown
        .arrow
         #chevron-arrow-left
    section#one
      .container
        .text
          h3 We do not Forgive, We do not Forget, Expect us!
        .text2
          h2 Hacker inside Event
          h3 #KeyBash
        .boxes
          h1 48 DAYS LEFT
          h1 50 MINUTES
          h1 43 SECONDS