doctype html
html
  head
    title HackerInside
    meta(name="description", content="HackerInside")
    link(rel="stylesheet", href="style.css")
  body
    .header
      .text
        //- img(src="logo.png")
        a(href="/console") Console
        a(href="https://www.youtube.com/channel/UCkHJ4XXP1fOHgRX0Zbn80yA?view_as=subscriber", target="_blank") YouTube
        a(href="/breakdown") BreakDown
        .arrow-down-left
    section#one
      .container
        h2 Hacker inside Event
        p#demo
