doctype html
html
  head
    title HackerInside
    meta(name="description", content="HackerInside")
    link(rel="stylesheet", href="style.css")
  body
    .header
      .text
        a(href="/console") Console
        a(href="https://www.youtube.com/channel/UCkHJ4XXP1fOHgRX0Zbn80yA?view_as=subscriber", target="_blank") YouTube
        a(href="/breakdown") BreakDown
  section#one
    h2 Hackder Inside Event
    .arrow-down-left